Source: gnupg
Section: core
Priority: important
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Standards-Version: 3.8.0
Build-Depends: debhelper (>> 5), libz-dev, file, gettext, dpatch
XCS-Cross-Host-Build-Depends: debhelper (>> 5), file, gettext, dpatch
XCS-Cross-Build-Depends: libz1-dev
Homepage: http://www.gnupg.org

Package: gpgv
Architecture: any
Priority: important
Depends: ${shlibs:Depends}
Description: GNU privacy guard - signature verification tool
 GnuPG is GNU's tool for secure communication and data storage.
 .
 gpgv is a stripped-down version of gnupg which is only able to check
 signatures.  It is smaller than the full-blown gnupg and uses a
 different (and simpler) way to check that the public keys used to
 make the signature are trustworthy.
